*{
    margin: 0;
    padding: 0;
}

.header{
    min-height: 75px;
}

.poster-image{
    position: relative;
}

.font-style{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
}

.cases-24, .deaths-24, .recovered-24{
    left: 29px;
    font-size: 38px;
}

.cases-24{
    top: 309px;
}

.deaths-24{
    top: 432px;
}

.recovered-24{
    top: 550px;
}

.Total-cases, .Total-deaths, .Total-recovered{
    left: 217px;
    font-size: 31px;
}

.Total-cases{
    top: 335px;
}

.Total-deaths{
    top: 433px;
}

.Total-recovered{
    top: 528px;
}
