* {
  margin: 0;
  padding: 0;
}

html {
  width: 360px;
}


.poster-image {
  position: relative;
}

.font-style {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: bold;
}

.cases-24,
.deaths-24,
.recovered-24 {
  left: 29px;
  font-size: 38px;
}

.cases-24 {
  top: 234px;
}

.deaths-24 {
  top: 357px;
}

.recovered-24 {
  top: 475px;
}

.Total-cases,
.Total-deaths,
.Total-recovered {
  left: 217px;
  font-size: 31px;
}

.Total-cases {
  top: 260px;
}

.Total-deaths {
  top: 358px;
}

.Total-recovered {
  top: 453px;
}
